* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
.navigasi {
    background-color: gray;
    font-family: arial;
    font-size: 20px;
    font-weight: 500;
}

.navigasi ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    background-color: #454545;
}

.navigasi li {
    background-color: #454545;
}

.navigasi a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 20px;
    gap: 30px;
    margin-left: 20px;

}

.navigasi a:hover {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    transition: 0.5s;
    border-radius: 40px;
    color: black;
}

.profil {
    margin: auto;
    position: relative;
    background-image: url(../asset/logo_linux/blug\ logo\ black.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    padding: 40px;
    color: white;
    z-index: 1;
}

.profil::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(222, 165, 75, 0.5), rgba(222, 165, 75, 0.5), rgba(222, 165, 75, 0.5), rgba(222, 165, 75, 0.5), rgba(222, 165, 75, 0.5), rgba(222, 165, 75, 0.5), #f68f21);
    backdrop-filter: blur(5px);
    z-index: -1;
}

.logo-blug {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-blug img {
    height: 250px;
    border-radius: 50%;
}

.logo-blug h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 70px;
    margin-top: 40px;
    text-shadow: 0 6px 15px rgba(0, 0, 1, 0.9);
}

.logo-blug button {
    width: 350px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #454545;
    margin-top: 50px;
    color: white;
    transition: 0.3s;
}

.logo-blug button:hover {
    color: #454545;
    background-color: white;
    cursor: pointer;
}

.logo-blug a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F68E21;
}


.about h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 150px;
}

.about p {
    margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 25px;
    margin-right: 200px;
    margin-left: 200px;
}

.about-blug a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.about-blug button {
    width: 350px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #454545;
    margin-top: 90px;
    color: white;
    transition: 0.3s;
}

.about-blug button:hover {
    color: #454545;
    background-color: white;
    cursor: pointer;
}
.kelebihan{
    background-color: #454545;
}
.kelebihan h1{
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 150px;
    margin-bottom: 100px;
}
.feature-box {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.feature {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    width: 270px;
    border:solid 5px #F68E21;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.feature h3 {
    margin-bottom: 15px;
    font-size: 30px;
    align-items: center;
}
.feature p {
    font-size: 1rem;
}
.feature img {
    width: 100%;
}
.anggota-kelompok{
    background-color: #FABD12;
    margin-top: -20px;
}
.anggota-kelompok h1{
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 150px;
    margin-bottom: 100px;
}
.kabing{
    background-color: #454545;
    margin-top: -20px;
}
.kabing h1{
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 150px;
    margin-bottom: 100px;
}
.foter{
    background-color: black;
    padding: 20px;  
}
.hak-cipta {
    text-align: center;
    color: white;
}