body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* NAV */
.navigasi {
  background-color: gray;
  font-family: arial;
  font-size: 20px;
  font-weight: 500;
}

.navigasi ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  background-color: #454545;
}

.navigasi li {
  background-color: #454545;
}

.navigasi a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 20px;
  margin-left: 20px;
}

.navigasi a:hover {
  background-color: white;
  padding: 20px;
  transition: 0.5s;
  border-radius: 40px;
  color: black;
}

/* HEADER */
.section-header {
  background: #f9b733;
  padding: 60px 20px;
  margin-top: 0px!important;
  text-align: center;
  color: white;
}

.section-header h1 {
  font-size: 32px;
  margin-bottom: 32px;
}

.section-header p {
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
  font-size: large;
}

/* WAVE AFTER HEADER & BOTTOM */
.wave-bottom-header,
.wave-bottom-page {
  width: 100%;
  overflow: hidden;
  line-height: 0;       /* penting biar ga ada celah putih */
}

.wave-bottom-header svg,
.wave-bottom-page svg {
  width: 100%;
  height: 120px;        /* tinggal kamu gedein kalau mau wave lebih tebal */
  display: block;
}

/* FUN FACT SECTION */
.fun-section {
  background: #333;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.fun-section h2 {
  font-size: 26px;
  margin-bottom: 40px;
}

.card {
  display: flex;
  background: #ffffff;
  border: 2px solid #f9b733;
  padding: 20px;
  border-radius: 15px;
  max-width: 700px;
  margin: 0 auto 30px;
  gap: 20px;
  align-items: center;
}

.card img {
  width: 120px;
  border-radius: 10px;
}

.card p {
  text-align: left;
  line-height: 1.5;
  color: #0f0f0f;
}

/* BUTTON */
.btn {
  padding: 12px 22px;
  background: #f9b733;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* FOOTER */
.foter {
  background-color: black;
  padding: 20px;
}

.hak-cipta {
  text-align: center;
  color: white;
}
