* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* NAV */
.navigasi {
  background-color: gray;
  font-family: arial;
  font-size: 20px;
  font-weight: 500;
}

.navigasi ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  background-color: #454545;
}

.navigasi li {
  background-color: #454545;
}

.navigasi a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 20px;
  margin-left: 20px;
}

.navigasi a:hover {
  background-color: white;
  padding: 20px;
  transition: 0.5s;
  border-radius: 40px;
  color: black;
}

/* HEADER */
.section-header {
  background: #FABD12;
  margin-top: 0px;
  text-align: center;
  color: white;
}

.section-header h1 {
  font-size: 40px;
  margin-bottom: 32px;
  padding-top: 60px;
}

.section-header p {
  max-width: 1000px;
  margin: auto;
  line-height: 1.6;
  font-size: 25px;
}

/* FUN FACT SECTION */
.fun-section {
  background: #454545;
  color: white;
  text-align: center;
}

.fun-section h2 {
  font-size: 50px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.card {
  display: flex;
  background: #ffffff;
  border: 2px solid #FABD12;
  width: 1200px;
  height: 300px;
  border-radius: 15px;
  margin: 0 auto 30px;
  gap: 20px;
  align-items: center;
}

.card img {
  width: 220px;
  border-radius: 10px;
  margin: 20px;
}

.card p {
  text-align: left;
  line-height: 1.5;
  color: #0f0f0f;
  margin: 20px;
  font-size: 25px;
}

/* BUTTON */
.btn {
    width: 350px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #FABD12;
    margin-top: 50px;
    color: white;
    transition: 0.3s; 
    cursor: pointer;
}
.btn:hover{
    color: #454545;
    background-color: white;
    cursor: pointer;
}

/* FOOTER */
.foter {
  background-color: black;
  padding: 20px;
}

.hak-cipta {
  text-align: center;
  color: white;
}
.wave-oren{
  height: 100%;
  margin-bottom: -30px;
}
.wave-abu{
  margin-bottom: -10px;
}