*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.navigasi{
    background-color: gray;
    font-family: arial;
    font-size: 20px;
    font-weight: 500;
}
.navigasi ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    background-color: #454545;
}
.navigasi li{
    background-color: #454545;
}
.navigasi a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 20px;
    gap: 30px;
    margin-left: 20px;
    
}
.navigasi a:hover{
    background-color: rgb(255, 255, 255) ;
    padding: 20px;
    transition: 0.5s;
    border-radius: 40px;
    color: black;
}
.profil{
    margin: auto;
    padding: auto;
    position: relative;
    background-image: url(../asset/logo_linux/blug\ logo\ black.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    padding: 40px;
    color: white;
    z-index: 1;
}
.profil::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 189, 18, 0.50);
    z-index: -1;
}
.logo-blug{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-blug img{
    height: 250px;
    border-radius: 50%;
}
.logo-blug h1{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 70px;
    margin-top: 40px;
}
.logo-blug button{
    width: 350px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #454545;
    margin-top: 50px;
    color: white;
    transition: 0.3s;
}
.logo-blug button:hover{
    color: #454545;
    background-color: white;
    cursor: pointer;
}
.logo-blug a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F68E21;
}
.about-blug{
}
.about h1{
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 150px;
}
.about p{
    margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 25px;
    margin-right: 200px;
    margin-left: 200px;
}
.about-blug a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.about-blug button{
    width: 350px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #454545;
    margin-top: 50px;
    color: white;
    transition: 0.3s;
}
.about-blug button:hover{
    color: #454545;
    background-color: white;
    cursor: pointer;
}