* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
.navigasi {
    background-color: gray;
    font-family: arial;
    font-size: 20px;
    font-weight: 500;
}

.navigasi ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    background-color: #454545;
}

.navigasi li {
    background-color: #454545;
}

.navigasi a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 20px;
    gap: 30px;
    margin-left: 20px;

}

.navigasi a:hover {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    transition: 0.5s;
    border-radius: 40px;
    color: black;
}

.header-distribusi {
    background-color: #F68E21;
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 18px;
    position: relative;
}
.header-distribusi h1{
    padding-top: 40px;
}

.header-distribusi p {
    max-width: 900px;
    margin: 0 auto;
    font-size: 25px;
    line-height: 1.8;
}
.header-distribusi img{
    margin-bottom: -35px;
}

.container-distribusi {
    background-color: #454545;
    color: #ffffff;
    padding: 50px 8% 70px;
}

.container-distribusi h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 32px;
}

.grid-distribusi {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 32px;
    justify-items: center;
    margin: 40px;
}

.card {
     background-color: #ffffff;
    color: #333333;
    width: 250px;
    min-height: 250px;
    border-radius: 18px;
    padding: 22px 18px 24px;
    text-align: center;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.25);
    border: 2px solid rgba(0, 0, 0, 0.05);
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 12px;
}

.card h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.card p {
    font-size: 15px;
    line-height: 1.6;
}

.btn-center {
    text-align: center;
    margin-top: 48px;
}

.btn-orange {
    display: inline-block;
    padding: 12px 100px;
    border-radius: 999px;
    background-color: #F68E21;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
}

.btn-orange:hover {
    color: #454545;
    background-color: white;
    cursor: pointer;    
}

.footer-section {
    background-color: #f5a623;
    margin-top: 0;
}

.wave-bottom svg {
    display: block;
    width: 100%;
    height: auto;
    fill: #363636;
}

.footer {
    background-color: #000;
    text-align: center;
    padding: 14px 10px 18px;
}

.footer p {
    font-size: 12px;
    color: #fff;
}

@media (max-width: 600px) {
    .header-distribusi {
        padding: 40px 20px 30px;
    }

    .header-distribusi h1 {
        font-size: 24px;
    }

    .header-distribusi p {
        font-size: 13px;
    }

    .card {
        width: 100%;
    }

    .navigasi a {
        margin-left: 10px;
        padding: 14px;
        font-size: 16px;
    }
}